/* 
    Document   : footer
    Created on : Oct 16, 2012, 1:52:46 PM
    Author     : Zdenek
    Description:
        Purpose of the stylesheet follows.
*/

#footer_content { 
    color: white;
    width: 690px;
    height: 38px;
    background-color: black;
    margin: 0px auto;
    padding: 15px;
    border-right: 1px solid #c1bfbf;
    border-left : 1px solid #c1bfbf;
}

#footer_content .ref_link{
    color: white;
}

#footer_content .left{
    width: 500px;
}

#footer_content .right{
    padding-left: 15px;
    margin-left: 485px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    border-left: 1px solid white;
}


