/* 
    Document   : head
    Created on : Oct 16, 2012, 11:50:22 AM
    Author     : Zdenek
    Description:
        Purpose of the stylesheet follows.
*/

#jfb-logo{
    background-image: url("#{resource['images:logo.png']}");
    background-color: white;
    background-size:285px 125px;
	background-position: 10px 0px;
    background-repeat: no-repeat;
    width: 800px;
    height: 125px;
}

#logo{
	display: block;
	width: 300px;
	height: 125px;
	float: left;
}

.shadow{
    width: 800px;
    height: 55px;
    margin: 0px auto;
    margin-bottom: 0px;
    background-image: url("#{resource['images:shadow.png']}");
    background-repeat: repeat-x;
}

.jfb_ref_link{
    display: block;
    background-image: url("#{resource['images:JFBlogo.png']}");
    background-size: 100% 100%;
    width: 180px;
    height: 50px;
    background-repeat: no-repeat;
    margin-left: 600px;
    border: none;
    text-decoration: none;
}

#top-header{
    background-color: black;
    height: 25px;
    width: 100%;
    color: white;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding-top: 5px;
    clear:both;
}
.ctu-caption{
    float: left;
    margin-left: 10px;
}
#login-bar{
   float: right;
   margin-right: 10px;
}

#login-bar a{
	font-size: 1.2em;
} 