/* 
    Document   : info
    Created on : Nov 3, 2012, 1:13:07 PM
    Author     : Zdenek
    Description:
        Purpose of the stylesheet follows.
*/

#info-content{
    background-image: url("#{resource['images:info.png']}");
/*    background-size:70px 70px;*/
    background-repeat: no-repeat;
    background-color: #ccccff;
    padding: 15px;
    height: 90px;
    width: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
/*    border: 1px solid red;*/
    padding-left: 75px;
    padding-top: 15px;
    border-radius:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
}

.info-plain-text{  
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11pt;
}

.info-plain-text:first-letter{  
    font-size: 20pt;
}

.button-ok{
    width: 150px;
    margin-top: 20px;
    float: right;
}
