body{
    margin: 0px;
    background-color: #EBE8E8;
}



#top {
    color: black;
    width: 700px;
    margin: 0 auto;
    margin-top: 0px;
    border: 1px solid white;
}

#bottom {
    position: relative;
    clear: both;
    width: 720px;
    margin: 0 auto;
     
}


.center_content {
    width: 700px;
    margin: 0 auto;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.wrapper{
    padding-left: 10px; 
    padding-right: 10px; 
    width: 700px; 
    border-right: 1px solid #c1bfbf; 
    border-left : 1px solid #c1bfbf; 
    background-color: white; 
    margin: 0 auto;
}

.cleaner{
    clear: both;
    height: 20px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


