#form-content{
	width: 780px;
	margin: 0 auto;
	margin-top: 20px;
}

#login-form{
	width: 315px;
	float: left;
	margin: 7px;
}

#registration-form{
	border-left: 1px solid black;
	width: 380px;
	float: left;
	margin: 10px;
	padding-left: 45px;
}

.login-button{
	float: right;
	margin: 5px;
	margin-right: 10px;
}

.register-button{
	float: right;
	margin: 5px;
	margin-right: 60px;
}

.form-text-field{
	margin: 5px;
}